html, body {
	height: 100%;
	background: url('../images/chalkboard.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	padding: 10px;
}

header {
	margin-top: 20px;
}

#header {
	font-family: Comic Sans MS, cursive, sans-serif;
	color: #ffffff;
	font-size: 60px;
}

p {
	font-family: Comic Sans MS, cursive, sans-serif;
	color: #ffffff;
	font-size: 25px;
}

#status {
	height: 50px;
}

#guessedLetters {
	height: 50px;
}

